* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #eceef2;
}

.btn-up {
  position: fixed;
  right: 50px;
  bottom: -55px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #ccc;
  background: #333;
  z-index: 999;
  outline: 0;
  transition: 0.5s;
}

.btn-up:after {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.btn-up.active {
  bottom: 50px;
}

.ContainerHeader {
  background: white;
  margin-bottom: 35px;
}

.WrapperGrid {
  background: white;
  width: 1300px;
  margin: 0 auto;
}
.WrapperGrid .header {
  min-height: 100px;
  background: white;
  display: grid;
  grid-template-columns: 10% 45% 45%;
  vertical-align: middle;
  margin: 0 auto;
  align-items: center;
}
.WrapperGrid .header .imgAndName img {
  height: 40px;
  width: 50px;
}
.WrapperGrid .header .imgAndName span {
  font-size: 30px;
  font-weight: bold;
  font-family: "Script MT Bold";
}
.WrapperGrid .header .FormWeather {
  cursor: pointer;
}
.WrapperGrid .header .FormWeather img {
  height: 35px;
}
.WrapperGrid .header .FormWeather input {
  width: 200px;
  height: 30px;
  padding: 7px;
  outline: navajowhite;
}
.WrapperGrid .header .FormWeather input:focus {
  border: 2px solid #c7c700;
  box-shadow: 0 0 2px #e5e500;
}
.WrapperGrid .header .FormWeather button {
  height: 30px;
  width: 33px;
}
.WrapperGrid .header .RightHeader .in {
  cursor: pointer;
  padding: 4px;
}
.WrapperGrid .header .RightHeader .in:hover {
  background: deepskyblue;
}
.WrapperGrid .header .RightHeader a {
  text-decoration: none;
  text-align: center;
  color: black;
  font-size: 18px;
  display: inline-block;
}
.WrapperGrid .header .RightHeader a::after {
  content: "";
  width: 90%;
  display: block;
  height: 2px;
  background: rosybrown;
  transform: scaleX(0);
  transition: all 0.4s;
}
.WrapperGrid .header .RightHeader a:hover::after {
  transform: scaleX(1);
}
.WrapperGrid .header .RightHeader a span {
  margin-right: 16px;
}

.weatherData {
  background: #eceef2;
  width: 1300px;
  margin: 0 auto;
  font-size: 22px;
  font-family: sans-serif;
  color: #b5c0c9;
}
.weatherData .leftMenu {
  list-style-type: none;
}
.weatherData .leftMenu ul li {
  list-style: none;
  cursor: pointer;
  position: relative;
}
.weatherData .leftMenu ul li:hover {
  background: bisque;
  transition: all 0.7s;
}
.weatherData .leftMenu ul li:hover:hover > ul {
  display: block;
}
.weatherData .leftMenu ul li::after {
  content: "";
  width: 100%;
  display: block;
  height: 2px;
  background: red;
  transform: scaleX(0);
  transition: all 0.4s;
}
.weatherData .leftMenu ul li:hover::after {
  transform: scaleX(1);
}
.weatherData .leftMenu ul li ul {
  background: #3b6f80;
  position: absolute;
  right: -100px;
  top: 0;
  width: 100px;
  display: none;
}
.weatherData .leftMenu ul li > ul li {
  border: 1px solid gray;
}
.weatherData .weatherCity {
  font-size: 25px;
  font-weight: 900;
  color: black;
}
.weatherData .weatherCity button {
  padding: 5px;
  height: 40px;
  border-radius: 25%;
  margin-right: 20px;
  background: white;
}
.weatherData .sectionGridWrapper {
  padding-top: 10px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 45% 55%;
  grid-row-gap: 20px;
  grid-template-areas: "s1  s2" "s3  s3";
}
.weatherData .sectionGridWrapper .section1 {
  padding: 10px;
  grid-area: s1;
  background: #3b6f80;
  border-radius: 12px;
  margin-right: 10px;
}
.weatherData .sectionGridWrapper .section1 .temp {
  font-size: 30px;
  color: white;
}
.weatherData .sectionGridWrapper .section2 {
  grid-area: s2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.weatherData .sectionGridWrapper .section2 div {
  padding: 12px;
  background: #3b6f80;
  border-radius: 12px;
}
.weatherData .sectionGridWrapper .section2 div:first-child {
  margin-right: 10px;
}
.weatherData .sectionGridWrapper .section3 {
  grid-area: s3;
}

.receive-popup {
  background: orange;
  height: 55px;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
}
.popup .popup-content {
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  background: white;
  padding: 4em;
  font-size: 25px;
}
.popup .popup-close {
  width: 35px;
  height: 45px;
  position: absolute;
  top: 0;
  right: -35px;
  background-color: transparent;
  color: black;
}

.WrapperCityBy {
  width: 1300px;
  margin: 0 auto;
  border: 2px solid red;
}

.OtherCityBy {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  color: cyan;
  background: black;
  padding: 10px;
}
.OtherCityBy .name {
  color: white;
}
.OtherCityBy .temp {
  font-size: 35px;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.height {
  margin: auto;
  width: 1300px;
  height: 500px;
  background: deepskyblue;
}

/*# sourceMappingURL=main.css.map */
